.sideinfo-container {
  .sideinfo-appname {
    font-weight: 700;
    font-size: 56px;
    color: #1ed740;
  }
  .sideinfo-quote {
    font-size: 24px;
  }
  .sideinfo-quote-large {
    font-size: 32px;
    font-weight: 500;
    text-shadow: 0 0 4px #121212;
  }
  .cross {
    text-decoration: line-through;
  }
}
