.contentformcalendar-container {
  margin-left: 10px;
  margin-top: 30px;
  input {
    margin-left: 15px;
    border: none;
    width: 150px;
    font-family: "Montserrat";
    border-bottom: 1px solid #121212;
  }
}
